<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jonsmauricio.eyesfood">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />



    <application
        android:name=".EyesFoodApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.HistoryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name=".ui.SignUpActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Login" />
        <!--
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name=".ui.FoodsActivity"
            android:label="@string/title_activity_foods"
            android:parentActivityName=".ui.HistoryActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jonsmauricio.eyesfood.ui.HistoryActivity" />
        </activity>
        <activity
            android:name=".ui.AdditivesActivity"
            android:label="@string/title_activity_additives"
            android:parentActivityName=".ui.FoodsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jonsmauricio.eyesfood.ui.FoodsActivity" />
        </activity>
        <activity
            android:name=".ui.RecommendationsActivity"
            android:label="@string/title_activity_recommendations"
            android:parentActivityName=".ui.FoodsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jonsmauricio.eyesfood.ui.FoodsActivity" />
        </activity>
        <activity
            android:name=".ui.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName=".ui.HistoryActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jonsmauricio.eyesfood.ui.HistoryActivity" />
        </activity>
        <activity
            android:name=".ui.AdditiveActivity"
            android:label="@string/title_activity_additive"
            android:parentActivityName=".ui.HistoryActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jonsmauricio.eyesfood.ui.HistoryActivity" />
        </activity>
        <activity
            android:name=".ui.ImagesActivity"
            android:label="@string/title_activity_images"
            android:parentActivityName=".ui.FoodsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jonsmauricio.eyesfood.ui.FoodsActivity" />
        </activity>
        <activity
            android:name=".ui.ImagesDetailActivity"
            android:label="@string/title_activity_images_detail"
            android:parentActivityName=".ui.ImagesActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jonsmauricio.eyesfood.ui.ImagesActivity" />
        </activity>
        <activity
            android:name=".ui.CommentsActivity"
            android:label="@string/title_activity_comments"
            android:parentActivityName=".ui.FoodsActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jonsmauricio.eyesfood.ui.FoodsActivity" />
        </activity>

        <activity
            android:name="com.google.zxing.client.android.CaptureActivity"
                android:screenOrientation="sensorLandscape" />
    </application>

</manifest>